<form method="GET" action="/">
    <input type="submit" value="Back to main page" />
</form>

<h1>Evening report</h1>

<h2> Fill in your data</h2>

<p>Time spent in sports and excecise: in hours</p>
<form method="POST">
    <input type="text" name="time spent in sports" />
    <input type="submit" value="submit" />
</form>

<p>Time spent studying: in hours</p>
<form method="POST">
    <input type="number" name="sleep quality" min="1" max="5" />
    <input type="submit" value="submit" />
</form>

<p>Regularity of eating: give a number from 1 to 5</p>
<form method="POST">
    <input type="number" name="regularity of eating" min="1" max="5" />
    <input type="submit" value="submit" />
</form>

<p>Quality of eating: give a number from 1 to 5</p>
<form method="POST">
    <input type="number" name="quality of eating" min="1" max="5" />
    <input type="submit" value="submit" />
</form>

<p>Generic mood: give a number from 1 to 5</p>
<form method="POST">
    <input type="number" name="sleep quality" min="1" max="5" />
    <input type="submit" value="submit" />
</form>

<form method="POST">
    <input type="submit" value="submit all" />
</form>