<%- include('./partials/header.ejs') %>

<div class="container">

<%
var errors = errors ? errors : []
%>

<form method="GET" action="/">
    <input type="submit" value="Back to main page" />
</form>

<h1>Login</h1>
<p> Type your username and password to log in</p>
<form method="POST" action="/auth/login">
    <label for="email">Email</label>
    <input type="email" name="email" />
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" />
    <% if (errors.length > 0) { %>
        <p><%= errors %></p>
    <% } %>
    
    <input type="submit" value="Login" />
</form>

<h3>Don't have an account? Register here!</h3>
<form method="GET" action="/auth/registration">
    <input type="submit" value="Register" />
</form>

</div>

<%- include('./partials/footer.ejs') %>
