<form method="GET" action="/">
    <input type="submit" value="Back to main page" />
</form>

<h1> Morning report</h1>

<h2> Fill in your data</h2>

<p>Sleep duration: in hours</p>
<form method="POST">
    <input type="text" name="sleep duration" />
    <input type="submit" value="submit" />
</form>

<p>Sleep quality: give a number from 1 to 5</p>
<form method="POST">
    <input type="number" name="sleep quality" min="1" max="5" />
    <input type="submit" value="submit" />
</form>

<p>Generic mood: give a number from 1 to 5</p>
<form method="POST">
    <input type="number" name="sleep quality" min="1" max="5" />
    <input type="submit" value="submit" />
</form>

<form method="POST">
    <input type="submit" value="submit all" />
</form>

