<%- include('./partials/header.ejs') %>

<div class="container">

<form method="GET" action="/">
    <input type="submit" value="Back to main page" />
</form>
<form method="POST">
    <input type="submit" value="Logout" />
</form>

<h1> Report behavior</h1>

<p> Which report would you like to submit? </p>

<form method="GET" action="/behavior/reporting/morning">
    <input type="submit" value="Morning" />
</form>
<form method="GET" action="/behavior/reporting/evening">
    <input type="submit" value="Evening" />
</form>

</div>
<%- include('./partials/footer.ejs') %>
